* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVENXDuyROlE2QM31ELdNQuatRf_uyPJC4hw&usqp=CAU');
  background-repeat:no-repeat;
 
}

body > nav {
  grid-area: nav;
  background-color: #3b41ff;
  
 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-left: auto;
}


nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #00d5ff;
}

nav > a.active {
  color: rgb(175, 2, 2);
  cursor: default;
}

.resortContainer {
    margin: 3em;
    border: 1px solid black;
    background-color:rgb(175, 2, 2)
    radial-gradient

}
#new-form {
 background-color: rgb(255, 255, 255); 
 justify-content: center;   
}




