<%- include('../partials/header') %>

<form id="new-form" action="/resorts" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Location:</label>
  <input type="text" name="location">
  <label>Terrain</label>
  <select name="terrain">
    <option value="all mountain">All Mountain</option>
    <option value="freestyle">Freestyle</option>
    <option value="alpine">Alpine</option>
    <option value="backcountry">Backcountry</option>
  </select>
  <label>Elevation(Feet):</label>
  <input type="number" name="elevation">
  <label>Description:</label>
  <input type="textarea" name="description">
  <label>Photo:</label>
  <input type="text" name="photo">
  <input type="submit" value="Add Resort">
</form>

<%- include('../partials/footer') %>
